<div>
        <div class="electores">
            <div>
                <label for="ITorden">Orden:</label>
                <span>{{caso.orden}}</span>
            </div>

            <div>
                <label for="ITfecha">Fecha:</label>
                <span>{{caso.fecha}}</span>
            </div>

            <div>
                <label for="ITsalidad">Hora de salida:</label>
                <span>{{caso.hora}}</span>
            </div>



            <div>
                <label for="SLactividades">actividad:</label>
                <span>{{caso.actividad}}</span>
            </div>
        </div>
        <div class="electores">

            <div>
                <label for="SLdivisiones">Division:</label>
                <span>{{caso.division}}</span>
            </div>
            <div>
                <label for="SLinspectoria">Inspectorias</label>
                <span>{{caso.inspectoria}}</span>
            </div>

            <div>
                <label for="SLseccion">seccion:</label>
                <span>{{caso.seccion}}</span>
            </div>
            <div></div>
        </div>
        <div class="electores">
            <div>
                <label for="SLprovincias">Provincia:</label>
                <span>{{caso.provincia}}</span>

            </div>
            <div>
                <label for="SLmunicipio">Municipio:</label>
                <span>{{caso.municipio}}</span>
            </div>
        </div>

    </div>