<div>


    <input type="hidden" name="id" value="{{caso.id}}">
    <div class="resultados">
        {{#each elementos as |elemento| }}

        <div>
            <table>

                <caption>{{elemento.titulo}}</caption>
                <thead>
                    <tr>

                        {{#if elemento.categoria}}
                        <th></th>
                        {{/if}}
                        {{#each elemento.renglon as |cabceras|}}
                        <th>{{cabceras}}</th>
                        {{/each}}
                    </tr>
                </thead>

                {{#each elemento.categorias as |categoria|}}
                <tr>

                    {{#if elemento.categoria}}
                    <td><label for="">{{categoria}}</td>
                    {{/if}}

                    {{#each elemento.renglon as |renglo|}}
                    <td><input type="number" name="{{renglo}}{{categoria}}" id=""></td>
                    {{/each}}
                </tr>
                {{/each}}


            </table>
        </div>

        {{/each}}
        <div>
            <label for="ITnovedades">Novedades:</label>
            <textarea name="novedades" id="ITnovedades" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="electores">
        <div>
            <label for="Txtlatitud">Latitud</label>
            <input type="text" name="latitud" id='ITlatitud' required value="{{caso.latitud}}">
        </div>
        <div>
            <label for="Txtlatitud">Latitud</label>
            <input type="text" name="longitud" id="ITlongitud" required value="{{caso.longitud}}">
        </div>
    </div>
    <div class="electores">
        <div><label for="Tinformacionll">Informado Por:</label>
            <input type="text" name="informacionll" id="Tinformacionll" required>
        </div>
        <div class="electores">
            <div>
                <label for="ITllegada">Hora de llegada:</label>
                <input type="time" name="llegada" id="ITllegada" required>
            </div>
        </div>


    </div>
</div>